@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
   --background: #000000;
   --foreground: #ffffff;
   --normal-blue: #165cde;
   --light-blue: #caddff;
   --dark-blue: #092456;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-normal-blue: var(--normal-blue);
   --color-light-blue: var(--light-blue);
   --color-dark-blue: var(--dark-blue);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

body {
   background-color: var(--color-dark-blue);
   color: var(--foreground);
   font-family: Inter, Arial, Helvetica, sans-serif;
   display: flex;
   align-items: center;
   min-height: 100vh;
   height: fit-content;
   justify-content: center;
   padding: 1rem;
}

.card {
   background: radial-gradient(circle farthest-side at center center, #165cde -45%, #000000 55%);
}

#root {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 1135px) {
   .card {
      background: radial-gradient(circle farthest-side at center center, #165cde -45%, #000000 70%);
   }
}

@keyframes shake {
   0% {
      transform: translateX(0);
   }
   20% {
      transform: translateX(-8px);
   }
   40% {
      transform: translateX(8px);
   }
   60% {
      transform: translateX(-8px);
   }
   80% {
      transform: translateX(8px);
   }
   100% {
      transform: translateX(0);
   }
}

.input-error {
   animation: shake 0.4s;
}
